<div class="row">
  <tr>
    <td>
      <% if message.status == false %>
      <%= image_tag 'new-message.png', alt: "Unread message" %>
      <% else %>
      <%= image_tag 'opened-message.png', alt: 'Already read' %>
      <% end %>
    </td>
    <td>
      <% if message.sender_id == current_user.id %>
      Tôi
      <% else %>
      <%= User.find(message.sender_id)[:name] %>
      <% end %>
    </td>
    <td>
      <% if message.receiver_id == current_user.id %>
      Tôi
      <% else %>
      <%= User.find(message.receiver_id)[:name] %>
      <% end %>
    </td>
    <td><%= link_to message.title, user_message_path(current_user, message) %></td>
    <td><%= message.created_at.strftime("%m/%d/%Y %I:%M ") %></td>
    <td><%= link_to "Chi tiết", user_message_path(current_user, message) %></td>
    <td><%= link_to 'Xóa', user_message_path(current_user, message),
      method: :delete,
      data: { confirm: 'Bạn có chắc chắn muốn xóa?' } %></td>
  </tr>
</div>