<div class="profile-sidebar">
  <div class="profile-userpic">
    <%= gravatar_for @user, :size => 180 %>
  </div>
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      <%= @user.name %>
    </div>
  </div>
  <div class="profile-usermenu">    
    <i class="glyphicon glyphicon-phone-alt"></i>
    Điện thoại liên hệ: <br>
    &nbsp;&nbsp;&nbsp;&nbsp;<%= @user.phone %>
  </div>
  <div style=" margin: 10px 0 20px">
    <i class="glyphicon glyphicon-list-alt"></i>
    <a href="/users/<%= @user.id %>/posts" style="color:black;">Bài đăng</a>
  </div>
  <div style=" margin: 10px 0 20px">
    <i class="glyphicon glyphicon-user"></i>
    <a href="/users/<%= @user.id %>/edit" style="color:black;">Thiết lập tài khoản</a>
  </div>
  <% if @user.name != current_user.name %>
  <div class="profile-userbuttons">
    <button type="button" data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary btn-sm">Leave Message</button>
  </div>
  <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h3 class="modal-title text-center" id="lineModalLabel">Send private message</h3>
          <% if @all_error_messages != nil %>
          <div class="errors-form">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <%= render 'shared/error_created_message' %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
        <% if logged_in?   %>
        <%= form_for Message.new, url: user_messages_path(@user), method: :post do |m| %>
        <%=  m.hidden_field :sender_id, :value => current_user.id %>
        <%=  m.hidden_field :receiver_id, :value => @user.id %>
        <div class="modal-body">
          <!-- content goes here -->
          <div class="form-group">
            <%= m.label :title, class: "control-label" %>
            <%= m.text_field :title, class: "form-control", placeholder: "Title" %>
          </div>
          <div class="form-group">
            <%= m.label :content, class: "control-label" %>
            <%= m.text_area :content, class: "form-control", placeholder: "Content" %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group btn-group-justified" role="group" aria-label="group button">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
            </div>
            <div class="btn-group btn-delete hidden" role="group">
              <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Delete</button>
            </div>
            <div class="btn-group" role="group">
              <%= m.submit "Send", class: "btn btn-default btn-hover-green" %>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
  <div style=" margin: 10px 0 20px">
    <i class="glyphicon glyphicon-envelope"></i>
    <a href="/users/<%= @user.id %>/messages" style="color:black;">Tin nhắn</a>
  </div>
  <% end %>
</div>