<div class="row">
  <div class="col-md-12">
    <div class="row">
      <% if @posts.empty? %>
      <p>Không tìm thấy</p>
      <% else %>
      <% @posts.each do |post| %>
      <div class="col-sm-4 col-md-3 col-lg-3">
        <div class="thumbnail" id="image_thumb">
        <% default_image = 'noimage.jpg' %>
        <% if post.picture? %>
          <%= image_tag post.picture.url,size:'200x100' %>
        <% else %>
          <%= image_tag default_image, size:'200x100' %>
        <% end %>
          <div class="caption phucdine">
            <h4 class="pull-right"><%= post.price %>VND</h4>
            <h4><%= link_to post.title, post %>
            </h4>
            <span class="timestamp">        
            Đăng <%= time_ago_in_words(post.created_at) %> trước.
            </span>
          </div>
          <div class="ratings">
            <p class="pull-right"><%= post.reviews.count %> Lời bình</p>
            <p>
            <td>     
              <i class="glyphicon glyphicon-triangle-top"></i> &nbsp; <%= post.thumbs_up_total %>
              <i class="glyphicon glyphicon-triangle-bottom"></i> &nbsp; <%= post.thumbs_down_total %>
            </td>
            </p>
          </div>
        </div>
      </div>
      <% end %> 
      <% end %>  
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-5">
        <%= will_paginate @posts %>
      </div>
    </div>
  </div>
</div>
