<% provide(:title, "All posts") %>
<div class="row">
  <div class="col col-md-2 navi">
    <ul class="nav nav-pills nav-stacked">
      <li><%= link_to 'Bài đăng', list_post_path %></li>
      <li><%= link_to 'Tài khoản', users_path %></li>
    </ul>
  </div>
  <div class="col col-md-10">
    <div class="row">
      <div class="col-md-4 col-md-offset-3">
        <h1>Danh sách bài đăng</h1>
      </div>
    </div>
    <ul class="users">
      <% @posts. each do |post| %>
        <li>
          <div class="row">
            <div class="col-md-5">
              <%= link_to post.title, post %>
            </div>
            <div class="col-md-4">
              <span class="timestamp">        
                Đăng <%= time_ago_in_words(post.created_at) %> trước.
              </span>
            </div>
            <div class="col-md-3">
                <% if post.approve == false %>
                  <%= link_to "Pending", approve_path(post_id:post) %>
                <% else %>
                  <span>Approved</span>
                <% end %>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to new_post_path do %>
                <span class='glyphicon glyphicon-plus'></span><% end %>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to edit_post_path(post) do %><span class='glyphicon glyphicon-pencil'></span><% end %>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= link_to post_path(post), method: :delete, data: { confirm: 'Bạn có muốn xóa?'} do %><span class='glyphicon glyphicon-remove'></span><% end %>
            </div>
          </div> 
        </li>
        <hr>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-5">
    <%= will_paginate @posts %>
  </div>
</div>