<% provide(:title, "Bài đăng") %>
<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-2 post-id-image">
      <div class="profile-sidebar">
        <div class="profile-userpic">
          <%= gravatar_for @user %>
        </div>
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <%= @user.name %>
          </div>
        </div>
        <div class="profile-usermenu">
          <ul class="nav">
            <li>      
              <i class="glyphicon glyphicon-phone-alt"></i>
              Phone number:
            </li>
            <li style="margin-left:24px;"><%= @user.phone %></li>
          </ul>
        </div>
        <div class="profile-userbuttons">
          <button type="button" data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary btn-sm">Leave Message</button>
        </div>
        <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title text-center" id="lineModalLabel">Send private message</h3>
                <% if @all_error_messages != nil %>
                <div class="errors-form">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        <%= render 'shared/error_created_message' %>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <% if logged_in?   %>
              <%= form_for Message.new, url: user_messages_path(@user), method: :post do |m| %>
              <%=  m.hidden_field :sender_id, :value => current_user.id %>
              <%=  m.hidden_field :receiver_id, :value => @user.id %>
              <div class="modal-body">
                <!-- content goes here -->
                <div class="form-group">
                  <%= m.label :title, class: "control-label" %>
                  <%= m.text_field :title, class: "form-control", placeholder: "Title" %>
                </div>
                <div class="form-group">
                  <%= m.label :content, class: "control-label" %>
                  <%= m.text_area :content, class: "form-control", placeholder: "Content" %>
                </div>
              </div>
              <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                  </div>
                  <div class="btn-group btn-delete hidden" role="group">
                    <button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Delete</button>
                  </div>
                  <div class="btn-group" role="group">
                    <%= m.submit "Send", class: "btn btn-default btn-hover-green" %>
                  </div>
                </div>
              </div>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 description-para">
      <div class="col-md-12 col-lg-12 text-center">
        <h2><%= @post.title %></h2>
      </div>
      <div class="row">
        <% default_image = 'noimage.jpg' %>
        <div class="col-md-5">
          <% if @post.picture? %>
          <%= image_tag @post.picture.url, size:'300x200' %>
          <% else %>
          <%= image_tag default_image, size:'300x200' %>
          <% end %>
        </div>
        <div class="col-md-7">
          <strong>Loại tin: </strong>
          <span><%= Category.find_by_id(@post.category_id).name %></span>
          </br>
          <strong>Khu vực: </strong>
          <span><%= Location.find_by_id(@post.location_id).location_name %></span>
          </br>
          <strong>Diện tích: </strong>
          <span><%= @post.area %> m2</span>
          </br>
          <strong>Giá: </strong>
          <span><%= @post.price %> VND</span>
          </br>
          <strong>Mô tả: </strong>
          <span><%= @post.desc %></span>
          </br>
          <span class="timestamp">        
          Thời gian đăng <%= time_ago_in_words(@post.created_at) %> trước.
          </span>
          </br>
          <%= @post.thumbs_up_total %>   
          <% if @like_post == 1 %>
          <%= link_to like_post_path(@post, like: true), class: "not-active", method: :post do %>    
          <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          <% else %> 
          <%= link_to like_post_path(@post, like: true), method: :post do %>
          <i class="glyphicon glyphicon-triangle-top"></i>
          <% end %>
          <% end %>
          &nbsp&nbsp&nbsp&nbsp 
          <%= @post.thumbs_down_total %>
          <% if @like_post == -1 %>
          <%= link_to like_post_path(@post, like: false), class: "not-active", method: :post do %>    
          <i class="glyphicon glyphicon-triangle-bottom"></i>
          <% end %>
          <% else %> 
          <%= link_to like_post_path(@post, like: false), method: :post do %>    
          <i class="glyphicon glyphicon-triangle-bottom"></i> 
          <% end %>
          <% end %>
          <br>
          <% if current_user == @post.user %>
          <%= link_to 'Sửa bài đăng', edit_post_path(@post) %>
          <% end %>
        </div>
      </div>
      <%= render 'reviews/review' %>
      <div id="comment">
        <%= form_for([@post, @post.reviews.build]) do |f| %>
        <p style="height: 110px;">
          <br>
          <%= f.text_area :review, id: 'textarea_review'%>
        </p>
        <p>
          <%= f.submit "Create review", id: "botton", class: "btn btn-success green" %>
        </p>
        <% end %>
      </div>
      <div class="col-md-12">
        <br>
        <strong>Địa chỉ</strong>
        <span><%=@post.address%></span> 
        <div id="panel">
          <input id="address" type="textbox" value="<%=@post.address%>">
          <input type="button" value="Geocode" onclick="codeAddress()">
        </div>
        <div id="map-canvas">
          <script type="text/javascript"> initialize(); </script>
        </div>
      </div>
    </div>
  </div>
</div>